<footer>

    <div class="container-footer-all">
        <div class="container-body">
            <div class="colum0">
                <h1>Categorias</h1>
                <div class="row0">
                    <a href="*">Inicio</a>
                    <a href="*">Productos</a>
                    <a href="*">Tabla de Talles</a>
                </div>
            </div>
            <div class="colum1">
                <h1>Encontranos</h1>
                <div class="row">
                    <i class="fas fa-map-marked-alt"></i>
                    <label>Calle Siempreviva 742</label>
                </div>
            </div>
            <div class="colum2">
                <h1>Contactanos</h1>
                <div class="row">
                    <i class="fas fa-phone-alt"></i>
                    <label>011 2863 7059</label>
                </div>

                <div class="row">
                    <i class="far fa-envelope"></i>
                    <label>sarasa@sarasa.com</label>
                </div>
            </div>
            <div class="colum3">
                <h1>Sigamos Conectados</h1>
                <div class="row2">
                    <a href="*"><i class="fab fa-facebook"></i></a>
                    <a href="*"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="container-footer">
            <div class="copyright">
                Copyright - 2021. Todos los derechos reservados
            </div>
            <div class="politicas">
                <a href="*">Politicas de Cambio</a>
                <label> | </label>
                <a href="*">Preguntas Frecuentes</a>
            </div>
        </div>


    </div>


</footer>