<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&p=2&m=free">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles_index.css">
    <title>Mitikal</title>
</head>
<body>
    <!-- Parte superior de la pagina dividido en un box, con tres box internos -->

    <header class="header_index">
	    <div class="div_element_header">
            <section class="header_box_0">
                <div>
                    <div><a class="a_banner_header" href="Link a envios">  3 CUOTAS SIN INTERES - ENVIOS GRATIS A TODO EL PAIS </a></div>
                </div>
            </section>
            <section class="header_box_1">
                <div class="header_sub_box_1">
                    <div class="header_bars_icon"><i class="fas fa-bars"></i></div>
                    <div class="navigation_bar"><input type="text">Buscar...</div>
                    <div class="navigation_bar_icon"><i class="fas fa-search"></i></div>
                </div>
                <div class="header_sub_box_2">
                    <div><img class="logo_mitikal" src="/img/mitikal_logo.png" alt="Mitikal - Logo"></div>
                </div>
                <div class="header_sub_box_3">
                    <div class="header_user_icon"><i class="fas fa-user"></i></div>
                    <div class="header_cart_icon"><i class="fas fa-shopping-cart"></i></div>
                </div>
            </section>
        </div>
    </header>
        <!-- Cuerpo principal de la pagina dividido en 4 boxes, -->
    <main>
        <!--Carousel-->
        <section class="main_box_1">
        

        </section>
        <!--Novedades y Destacados-->
        <section class="main_box_2">
            <div class="main_sub_box destacados">
                <h3>DESTACADOS</h3>
                <div ><button class="boton_destacados">DESTACADOS</button> </div>
            </div>
            <div class="main_sub_box novedades">
                <h3>NOVEDADES</h3>
                <div ><button class="boton_novedades">NOVEDADES</button> </div>
            </div>
            
        </section>
        <!--Articles-->
        <section class="main_box_3">
            <article class="Producto_1">
                <div ><button class="boton_agregar_al_carrito"></button><i class="fas fa-cart-plus"></i> </div>   
                <h3 class="nombre_del_producto"> NOMBRE PRODUCTO 1</h3>
                <h3 class="precio_del_producto"> Precio</h3>
                <h5 class="forma_de_pago"> Forma de pago / promociones</h5>
            </article>
            <article class="Producto_2">
                <div ><button class="boton_agregar_al_carrito"></button><i class="fas fa-cart-plus"></i> </div>   
                <h3 class="nombre_del_producto"> NOMBRE PRODUCTO 2</h3>
                <h3 class="precio_del_producto"> Precio</h3>
                <h5 class="forma_de_pago"> Forma de pago / promociones</h5>
            </article>
            <article class="Producto_3">
                <div ><button class="boton_agregar_al_carrito"></button><i class="fas fa-cart-plus"></i> </div>   
                <h3 class="nombre_del_producto"> NOMBRE PRODUCTO 3</h3>
                <h3 class="precio_del_producto"> Precio</h3>
                <h5 class="forma_de_pago"> Forma de pago / promociones</h5>
            </article>
            <article class="Producto_4">
                <div ><button class="boton_agregar_al_carrito"></button><i class="fas fa-cart-plus"></i> </div>   
                <h3 class="nombre_del_producto"> NOMBRE PRODUCTO 4</h3>
                <h3 class="precio_del_producto"> Precio</h3>
                <h5 class="forma_de_pago"> Forma de pago / promociones</h5>
            </article>
            <article class="Producto_5">
                <div ><button class="boton_agregar_al_carrito"></button><i class="fas fa-cart-plus"></i> </div>   
                <h3 class="nombre_del_producto"> NOMBRE PRODUCTO 5</h3>
                <h3 class="precio_del_producto"> Precio</h3>
                <h5 class="forma_de_pago"> Forma de pago / promociones</h5>
            </article>
            <article class="Producto_6">
                <div ><button class="boton_agregar_al_carrito"></button><i class="fas fa-cart-plus"></i> </div>   
                <h3 class="nombre_del_producto"> NOMBRE PRODUCTO 6</h3>
                <h3 class="precio_del_producto"> Precio</h3>
                <h5 class="forma_de_pago"> Forma de pago / promociones</h5>
            </article>
        </section>
        <section class="main_box_4">
            <div>
                <h3> Suscribite a nuestro newsletter </h3>
                <h4> ¡Registrate y disfrutá nuestras ofertas!</h4>
                <div class="registro_mail"><input type="text"> MAIL </div>
                <div ><button class="boton_enviar">ENVIAR</button> </div>
            </div>
        </section>
    </main>
    <!-- Parte inferior con dos cajas, una exclusiva para el copyright, y la otra subdividida en 3 boxes-->
    <footer>
        <section class="footer_box_1">
            <div class="footer_sub_box_1">
                <h6> <a class="politicas_de_cambio" href="Link a politicas_de_cambio"> Politicas de Cambio</a> </h6>
                <h6> <a class="preguntas_frecuentes" href="Link a preguntas_frecuentes"> Preguntas Frecuentes</a> </h6>      
            </div>
            <div class="footer_sub_box_2">
                <h5>Encontranos</h5>
                <h6><i class="fas fa-map-marked-alt"></i> Calle Siempreviva 742</h6>   
            </div>
            <div class="footer_sub_box_3">
                <h5>Contactanos</h5>
                <h6><i class="fas fa-phone"></i> 01128637059</h6>
                <h6><i class="fas fa-envelope"></i> sarasa@sarasa.com</h6>
            </div>
            <div class="footer_sub_box_4">
                <h5>Sigamos Conectados</h5>
                <h6><i class="fab fa-instagram"></i>    <i class="fab fa-facebook"></i></h6>
            </div>
        </section>
        <section class="footer_box_2">
            <div class="Copyright">
                <h6>Copyright Mitikal - 2021. Todos los  derechos reservados</h6>
            </div>
        </section>
    </footer>

</body>
</html>