<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/js/check-password.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fontawesome.com/icons?d=gallery&p=2&m=free">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles-register.css">
        <title>Mitikal</title>
    </head>
    <body>
        


        <header>

            <div class="container-header-all">
                <div class="row0">
                    <a class="a_banner_header" href="Link a envios">  3 CUOTAS SIN INTERES - ENVIOS GRATIS A TODO EL PAIS </a>
                    
                </div>
                    <div class="container-body">  
                        <div class="row1">
                            <div class="colum0">
                                <div class="header_bars_icon"><a href="*"><i class="fas fa-bars"></i></a>
                                </div>
                            </div>           
                            <div class="colum1">
                                <input type="header_type_buscar" id="header_id_buscar" placeholder="Buscar..." />
                                <img src="" alt=""><i class="fa fa-search"></i>
                            </div>
                            <div class="colum2">
                                <a href="/"><img class="logo_mitikal" src="/img/mitikal_logo.png" alt="Mitikal - Logo"></a> 
                            </div>
                            <div class="colum3">
                                <a href="/"><i class="fas fa-home"></i></a>
                                <a href="/market"><i class="fas fa-shopping-cart"></i></a>
                            </div>  
                        </div>    
                    </div>
            </div>
        </header>

        <main>
            <div class="box-register">
                <h1>CREAR CUENTA</h1>
                <H2>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</H2>
                <form action="" name="register-form" method="GET">
                    <div class="input-container">
                        <label for="name">NOMBRE</label>
                        <input type="text" name="name" id="name" placeholder="Tu nombre" autocomplete="on" required />
                    </div>
                    <div class="input-container">
                        <label for="email">E-Mail</label>
                        <input type="email" name="email" id="email" placeholder="tuNombre@mail.com" autocomplete="on" required />
                    </div>
                    <div class="input-container">
                        <label for="tel">TELÉFONO</label>
                        <input type="tel" name="tel" id="tel" placeholder="1123445567" required />
                    </div>
                    <div class="input-container">
                        <label for="password1">Contraseña</label>
                        <input type="password" name="password1" id="password1" placeholder="***" required />
                    </div>
                    <div class="input-container">
                        <label for="password2">Confirmar Contraseña</label>
                        <input type="password" name="password2" id="password2" placeholder="***" required />
                    </div>
                    
                    
                    <button class="crear-cuenta" type="submit" onclick="comprobarClave()">CREAR CUENTA</button>
                    
                </form>
                <div class="iniciar-sesion">¿Ya tenés una cuenta? <a href="/login">Iniciá Sesión</a></div>

                
            </div>
            <div class="whatsapp-logo"><a href="*"><img src="/img/whatsapp-logo.png" alt="whatsapp-logo"></a></div>
        </main>



        <footer>

            <div class="container-footer-all">
                <div class="container-body">
                    <div class="colum0">
                        <h1>Categorias</h1>
                        <div class="row0">
                            <a href="*">Inicio</a>
                            <a href="*">Productos</a>
                            <a href="*">Tabla de Talles</a>
                        </div>
                    </div>
                    <div class="colum1">
                        <h1>Encontranos</h1>
                        <div class="row">
                            <i class="fas fa-map-marked-alt"></i>
                            <label>Calle Siempreviva 742</label>
                        </div>

                    </div>
                    <div class="colum2">
                        <h1>Contactanos</h1>
                        <div class="row">
                            <i class="fas fa-phone-alt"></i>
                            <label>011 2863 7059</label>     
                        </div>

                        <div class="row">
                            <i class="far fa-envelope"></i>
                            <label>sarasa@sarasa.com</label>     
                        </div>
                    </div>
                    <div class="colum3">
                        <h1>Sigamos Conectados</h1>
                        <div class="row2">
                            <a href="*"><i class="fab fa-facebook"></i></a>
                            <a href="*"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="container-footer">
                    <div class="copyright">
                        Copyright - 2021. Todos los derechos reservados
                    </div>
                    <div class="politicas">
                        <a href="*">Politicas de Cambio</a>
                        <label> | </label>
                        <a href="*">Preguntas Frecuentes</a>
                    </div>
                </div>
                

            </div>
            
        </footer>

    </body>
</html>