/* ---- main ---------------------------------------------------------------------------------------------------------------      */
body{
    background: #f5f6fa !important;
}
.container-main-all{
    font-family: 'Anton', sans-serif ; 
    
}

.container-main-all h1{
    text-align: center;
    font-size: 50px;
    margin-top: 1%;
}


.container-body-list{   
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
}

.container-body-list .colum-list{
    height: auto;
    width: 450px;
    border: 0.2px solid #b3b3b396;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px;
    margin: 0.7%;
    margin-bottom: 3%;
    box-shadow: -3px 1px 1px rgb(100, 100, 100) ;
    box-shadow: 3px 1px 1px rgb(100, 100, 100);
    transition-duration: 0.4s;
    
}

.container-body-list .colum-list .hide {
    display: none;
    text-decoration: none !important;

}

.container-body-list .colum-list:hover .hide{
    display:block;
}

.container-body-list .colum-list:hover{
    box-shadow: 3px 1px 1px rgb(100, 100, 100) ;
    box-shadow: -3px 1px 1px rgb(100, 100, 100);
   

}


.container-body-list .colum-list .producto img{
    width: 100%;
    height: 35vh;
}

.description a:link{
  text-decoration: none !important;
  color:black;

}

.container-body-list  .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1%;
    text-align: center;
    font-style: normal;
    
    
}

.description i{
    color:black;
    font-size: 27px;
    transition: 0.4s infinite;
}

.description i:hover{
    animation: flip 0.5s infinite;
    color: rgb(35, 161, 35);
}


@keyframes flip {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-15deg);
  }

  100% {
    transform: rotateZ(15deg);
  }
}


header .whatsapp-logo img{
    position:fixed;
    height: 4vh;
    width: 4vw;
    top:88vh;
    right:5vw;
    z-index:99999;
    animation: whatsapp-animation 3s infinite;
}

@keyframes whatsapp-animation {

    50%{
        transform: translateY(-20px);
    }

}





