
/* ---- main ---------------------------------------------------------------------------------------------------------------      */
body{
    background: #f5f6fa; 
   
}
main {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background: #f5f6fa;
    height: 90vh;
    
}

main .box{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top: 8vh;
}

.box .user-profile{
   padding-right: 8vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.name h5{
    font-size: 36px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    
}

.email h6{
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    font-size: 30px !important; 
}


 .user-profile .user-avatar img {
    width: 400px;
    height: 400px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 200px;
}


 .user-profile h5.user-name {
   
    margin: 15px 15px 15px 40px;
    color: black;
}

 .user-profile h6.user-email {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: #9fa8b9;
    padding-bottom: 15px;
}

.delete-profile{
    border-radius: 50px;
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 4px;
    width: 200px;
    height: 40px;
    transition-duration: 0.5s;
}

.delete-profile:hover {
    border: black solid 1px;
    background-color: white;
    color: black;
}





main input {
    border-radius: 50px;
    border: 1px solid rgba(67, 67, 67, 0.14);
    height: 40px;
    width: 500px;
    padding: 10px;
}

main input::placeholder {
    color: #434343;
}

.update-profile {
    border-radius: 50px;
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 4px;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    transition-duration: 0.5s;
}

.update-profile:hover {
    border: black solid 1px;
    background-color: white;
    color: black;
}





main label {
    color: black;
    display: block;
    margin: .5em 0 0 0;
    font-family: 'Anton', sans-serif;
    color: #9fa8b9;
    padding-left: 0.3vw;
}




main .whatsapp-logo {
    position: sticky;
    z-index: 999999;
    height: 45px;
    width: 45px;
    left: 95%;
    bottom: 25%;
}

header .whatsapp-logo img {
    position: fixed;
    height: 4vh;
    width: 4vw;
    top: 88vh;
    right: 5vw;
    z-index: 99999;
    animation: whatsapp-animation 3s infinite;
}

@keyframes whatsapp-animation {
    50% {
        transform: translateY(-20px);
    }
}


/*----------------------------------------------------------------------------------------------------------------------------------*/




.subir{
    margin-top: 20px;
    background-color:white;
    color:black;
    padding: 8px 10px;
    border-radius: 50px;
    border: 1px solid rgba(67, 67, 67, 0.14);
    height: 40px;
    width: 500px;
    transition-duration: 0.5s;
    
}
 
.subir:hover{
    border: black solid 1px;
    background-color: black;
    color: white;
}
