/* ---- main ---------------------------------------------------------------------------------------------------------------      */
body{
    background: #f5f6fa !important;
}
.container-main-all{
    font-family: 'Anton', sans-serif ; 
    
}

.container-main-all h1{
    text-align: center;
    font-size: 50px;
    margin-top: 1%;
}


.container-body-list{   
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
}

.container-body-list .product{
    height: max-content;
    width: 450px;
    border: 0.2px solid #b3b3b396;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px;
    margin: 0.7%;
    margin-bottom: 3%;
    -webkit-transition: 1s linear;
    transition: 0.5s linear;
    
}

.container-body-list .product .description_product_hide {
    display: none;
    text-decoration: none !important;
    transition: all 5s ease;

}

.container-body-list .product:hover .description_product_hide{
    display:block;
    text-decoration: none !important;
    transition-delay: 15s  ;
}

.container-body-list .product:hover{
    box-shadow: 3px 1px 1px rgb(100, 100, 100) ;
    box-shadow: -3px 1px 1px rgb(100, 100, 100);
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);

}


.container-body-list .product .image_product img{
    width: 100%;
    height: 35vh;
}

.description_product a:link{
    text-decoration: none !important;
    color:black;
  }
  

.container-body-list  .description_product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1%;
    text-align: center;
    font-style: normal;
    
    
}

.description_product i{
    color:black;
    font-size: 27px;
    transition: 0.4s infinite;
}

.description_product i:hover{
    animation: flip 0.5s infinite;
    color: rgb(35, 161, 35);
}


@keyframes flip {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-15deg);
  }

  100% {
    transform: rotateZ(15deg);
  }
}


header .whatsapp-logo img{
    position:fixed;
    height: 4vh;
    width: 4vw;
    top:88vh;
    right:5vw;
    z-index:99999;
    animation: whatsapp-animation 3s infinite;
}

@keyframes whatsapp-animation {

    50%{
        transform: translateY(-20px);
    }

}
