

/* ---- main ---------------------------------------------------------------------------------------------------------------      */

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-list-image {
    position: relative;
    width: 50%;
}

.image {
    display: flex;
    width: 60%;
    height: auto;
}

.List-Products:hover .product-list-image {
    opacity: 1;
}

.List-Products {
    color: black;
    font-size: 20px;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}

main .whatsapp-logo {
    position: sticky;
    z-index: 999999;
    height: 45px;
    width: 45px;
    left: 95%;
    bottom: 25%;
}

header .whatsapp-logo img {
    position: fixed;
    height: 4vh;
    width: 4vw;
    top: 88vh;
    right: 5vw;
    z-index: 99999;
    animation: whatsapp-animation 3s infinite;
}

@keyframes whatsapp-animation {
    50% {
        transform: translateY(-20px);
    }
}


