
/* ---- main ---------------------------------------------------------------------------------------------------------------      */
/*carrousel*/
.carousel-inner .carousel-item img{
    height: 80vh;

}

.color-button{
    color:red;
}
/* **************************************************************************************************************************** */


main .container-main1-all{
    height:1100px;
    width: 100%;
    padding:0.1%;
    display:flex;
    justify-content:center;
    position:relative;
}


main .container-main1-all .container-body .row0{
    height:100%;
    width: 100%;
}


main .container-main1-all .galeria{
    height:100%;
    width: 100%;
}

main .container-main1-all .galeria img[alt="Galeria CSS 1"]{
    position:absolute;
    height:90%;
    width:90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
/*    animation:change_image 10s infinite;*/
}

main .container-main1-all .galeria img[alt="Galeria CSS 2"]{
    position:absolute;
    height:90%;
    width:90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
/*     animation:change_image 10s infinite;*/

}

main .container-main1-all .galeria #_1{
    position:absolute;
    left:49%;
    bottom:1%;
}



main .container-main1-all .galeria #_2{
    position:absolute;
    left:51%;
    bottom:1%;

}

main .container-main1-all .galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

main .container-main1-all .galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}


@keyframes change_image{

    0% {
        opacity:0;
    }
    25% {
        opacity:0.25;
    }
    50% {
        opacity:0.50;
    }
    75% {
        opacity:0.75;
    }
    0% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
    75% {
        opacity:0.75;
    }
    50% {
        opacity:0.50;
    }
    25% {
        opacity:0.25;
    }
    0% {
        opacity:0;
    }

}


/***************/


main{
    width: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
     
}

main .container-main2-all .container-body{
    display: flex;
    justify-content: space-between;
    padding: 0.1%;
    height:84vh;
}

main .container-main2-all{
    width: 100%;
    margin:auto;
}

main .container-main2-all .row0{
    display: flex;
    height:100%;
    width: 100%;
    padding:0.5% 2% 0.5% 2%;

}




main .container-main2-all .container-body .row0 .colum0{
    max-width: 50%;
    width: 50%;
    justify-content: left;
    align-items: center;
    text-align: center;
    margin-right:0.4%;
}

main .container-main2-all .container-body .row0 .colum1{
    max-width: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left:0.4%;
}


main .container-main2-all .container-body .row0 .colum0{
    background-image: url("/img/image02_destacados.jpg"); 
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    box-shadow: -5px 5px 5px rgb(100, 100, 100) 

}



main .container-main2-all .container-body .row0 .colum1{
    background-image: url("/img/image02_novedades.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    box-shadow: 5px 5px 5px rgb(100, 100, 100); 

}

.ef_novedades_destacados{
    transition-duration: 1s;
     }

.ef_novedades_destacados:hover{
    background-image: url("/img/image02_destacados.jpg");
    background-size: 200%;
    background-repeat:no-repeat; 
    opacity:70%;
    display:flex;
    object-fit: contain;

}

main .ef_novedades_destacados button{ 
    border: white solid 0.1vh;
    color:white;
    border-radius: 50px;
    font-family: 'Rubik', sans-serif;
    background-color:inherit;
    letter-spacing:0.7vh;
    width: 37.3vw;
    height: 8vh;
}


main .container-main2-all .container-body .row0 button:hover{
    border: black solid 0.1vh;
    background-color: white;
    color:black;
    font-family:bold;
    font-size:120%;
    font-family: 'Rubik', sans-serif;
}


main .ef_novedades_destacados h1{
    top:0%;
    left:0%;
    color:white;
    font-size: 300%;
    font-family: 'Muli', sans-serif;
}



main .container-main3-all{
    width: 100%;
    margin-top:2%;
    margin-bottom:4%;

}

/*Productos*/
main .container-main3-all .container-body{
        height:auto;
        display:flex;
        justify-content:center;
        align-items:center;
}


main .container-main3-all .row0{
    display: flex;
    height:100%;
    width: 100%;
    justify-content:space-between;
}

.container-main3-all .container-body{
    font-family: 'Anton', sans-serif ; 
    
}

.container-main3-all .container-body h1{
    text-align: center;
    font-size: 50px;
    margin-top: 1%;
}


.container-main3-all .container-body{   
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
}

.container-main3-all .container-body .product{
    height: max-content;
    width: 450px;
    border: 0.2px solid #b3b3b396;
    margin: 0.6%;
    margin-bottom: 3%;
    -webkit-transition: 1s linear;
    transition: 0.4s linear;
    
}

.container-main3-all .container-body .product .description_product_hide {
    display: none;
    text-decoration: none !important;
}

.container-main3-all .container-body .product:hover .description_product_hide{
    display:block;
    text-decoration: none !important;
}

.container-main3-all .container-body .product:hover{
    box-shadow: 3px 1px 1px rgb(100, 100, 100) ;
    box-shadow: -3px 1px 1px rgb(100, 100, 100);
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    border-radius: 30px;
}


.container-main3-all .container-body .product .image_product img{
    width: 100%;
    height: 35vh;
}

.container-main3-all .container-body .product  .description_product a:link{
    text-decoration: none !important;
    color:black;
  }
  

.container-main3-all .container-body .product  .description_product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1%;
    text-align: center;
    font-style: normal;
    
    
}

.container-main3-all .container-body .product .description_product i{
    color:black;
    font-size: 27px;
    transition: 0.4s infinite;
}

.container-main3-all .container-body .product .description_product i:hover{
    animation: flip 0.5s infinite;
    color: rgb(35, 161, 35);
}


@keyframes flip {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-15deg);
  }

  100% {
    transform: rotateZ(15deg);
  }
}






/* ------------------------------------------------------------------------------------------------------------------------------      */
/* ------------------------------------------------------------------------------------------------------------------------------      */
/*Newsletter*/

.main_box_4{
    width: 100%;
    box-sizing: border-box;
}


.newsletter{
    text-align: center;
    font-family: sans-serif;
 }

 .newsletter h3{
    font-weight: bold;
    font-size: 3.5vh;
 }
 .newsletter h4{
     font-size: 2.5vh;
     margin-bottom: 2%;
 }

.newsletter button{
    border-radius: 50px;
    background-color:white ;
    color:black;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.7vw;
    width: 15vw;
    height: 5vh;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;  
    transition-duration: 0.5s;
}


.newsletter button:hover{
    border: black solid 1px;
    background-color: black;
    color: white;
}

.newsletter input {
    border-radius: 50px;
    border: 1px solid rgba(67, 67, 67, 0.14);
    height: 1.5vh;
    width: 50vw;
    padding: 1.5vw;
}

 /* ------------------------------------------------------------------------------------------------------------------------------      */
/* ------------------------------------------------------------------------------------------------------------------------------      */

 

/* Media Query */

@media (max-width: 768px){
    /*header*/


    header .container-body{
        display: flex;
        justify-content: space-between;
        padding: 0.3%;
        height: 120px;
    }
    
    .container-header-all{
        width: 100%;
        margin:auto;
    }
    
    header .container-header-all .row0{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background: #101010;
    }
    
    header .row0 a{
        color: #c7c7c7;
        text-decoration: none; 
        padding: 3%; 
    }
    
    header .row1{
        display: flex;
        width: 100%;
        align-items: center;
    }
    header .row1 .colum0{
        max-width: 10%;
        width: 10%;
        text-align: center;
    }
    
    header .row1 .colum1{
        max-width: 20%;
        width: 20%;
        display:none;
        
    }

    header .row1 .colum1 input{
        border-radius: 8px;
    }


    header .row1 .colum2{
        max-width:80%;
        width: 80%;
        text-align: center;
    }
    header .row1 .colum3{
        max-width: 10%;
        width: 10%;
        display: flex;
        justify-content: flex-end;
    }
    
  /*main*/


    main .container-main1-all{
    display:none;

    }

    main .container-main3-all .container-body{
    height:auto;
    }



    main .container-main3-all .row0{
    display: flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    width: 100%;
    }

    main .ef_producto .producto img{
    width:100%;
    height:100%;
    }

    main .ef_producto .producto i{
    position:absolute;
    top:90%;
    right:47%;
    font-size:7vw;
    color:#202020;
    transition: 1s infinite;
    }
    
}


/******************/

@media (max-width: 425px){
    /*header*/

header .whatsapp-logo img{
    position:fixed;
    height: 3vh;
    width: auto;
    top:88vh;
    right:2vw;
    z-index:120;
    animation: whatsapp-animation 3s infinite;
}

@keyframes whatsapp-animation {

    50%{
        transform: translateY(-3vh);
    }

}
