/*Header */

header{
    background: #000101;
    position:sticky;
    top:0;
    z-index:1;

}


.header_box_0{
    text-align: center;
    padding: 5px 0;
    font-family: 'Rubik', sans-serif;
    color:white;
    background-color:#151515;


}

.a_banner_header{
    color:white;
    text-decoration:none;
    font-size:12px;
  }


.header_box_1 {
    display: flex;
    flex-wrap: no-wrap;
    box-sizing: border-box;
    align-self: center;
    width:auto;
    height:155px;
}

.header_buscar{
    background-color:#151515;
    border-radius:50px;
    height:32px;
    border: 2px solid #FFFEFE;
    margin:5px;
}

#header_id_buscar{
    background:none;
    border:none;

}

.header_sub_box_0{

    display: flex;
    width: 5%;
    text-align: left;
    justify-content: center;
    flex-direction: row;
    align-items: center;*/
    }

.header_sub_box_1{

    display: flex;
    width: 30%;
    text-align: left;
    justify-content: center;
    flex-direction: row;
    align-items: center;*/
    }



.header_sub_box_2{
        width: 40%;
        text-align:center;
}


.header_sub_box_3{
    display: flex;
    width: 30%;
    text-align: right;
    justify-content: center;
    align-items: right;
    flex-direction: column;
}

.a_banner_header{
    text-align: center;
}


/*Main*/

.main_box_2{
    display: flex;
    background-color:#151515;
    position: relative;
    text-align: center;
  
  }
  
.main_box_2 .destacados{
        flex: 1;
        text-align:center;
  }
  
.main_box_2 .novedades{
        flex: 1;
        text-align:center;
  }
  
.main_box_2 .destacados h3{
    position: absolute;
    top: 50%;
    left: 15%;
    color: white;
    font-size:80px;
}

.main_box_2 .novedades h3{
    position: absolute;
    top: 50%;
    left: 65%;
    color: white;
    font-size:80px;
}

.main_box_3{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    height: 400px;
    align-content: space-between;
}

.main_box_2 button{
    /*background-color:#151515;*/
    background:none;
    border-radius:50px;
    /*height:60px;*/
    width:auto;
    border: 3px solid #FFFEFE;
    margin:5px;
    color: white;
    margin:10px;
    font-size:50px;
    padding:20px;
}

/*Footer*/


footer  {
    background: salmon;
}

.footer_box_1 {
    display: flex;
    flex-wrap: no-wrap;
    box-sizing: border-box;
    align-self: center;
}

.footer_sub_box_1{
    display: flex;
    width: 34%;
    text-align: left;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.footer_sub_box_2{
    display: flex;
    width: 22%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_sub_box_3{
    display: flex;
    width: 22%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_sub_box_4{
    display: flex;
    width: 22%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*Iconos*/
header i{
    color:white;
  }

.header_sub_box_3 i{
    background:none;
    padding:2.5px;
    border-radius:50px;
    border-color:white;
    font-size:130%;
    margin-right:5%;
    margin-top:2%;
    margin-bottom:2%;
   }




/* Botones */

.boton_enviar{
    background: black;
    color: white;
    border-radius: 40px ;
}

/*Prueba*/

.fa-search {
    margin-right:10px;
}

/*
.header_buscar {
    width: 100%;
    margin-bottom: 10px;
}
  */
.navigation_bar_icon {
    padding: 10px;
    min-width: 40px;
}
/*
#header_buscar {
    width: 100%;
    padding: 10px;
    text-align: center;
}
*/  