


/* ---- main ---------------------------------------------------------------------------------------------------------------      */

main .box-register {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main h1 {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 60px;
    margin-bottom: 50px;
    margin-top: 50px;
}

main .input-container {
    margin-top: 20px;
}

main form {
    position: relative;
}

main input {
    border-radius: 50px;
    border: 1px solid rgba(67, 67, 67, 0.14);
    height: 40px;
    width: 500px;
    padding: 10px;
}

main input::placeholder {
    color: #434343;
}
main .checkbox input{
    height: 20px;
    width: 20px;
}

main label {
    color: black;
    display: block;
    margin: .5em 0 0 0;
    font-family: 'Rubik', sans-serif;
    color: #afafaf;
}

main .olvidaste-contrasena {
    color: #434343;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    left: 60%;
}

main .iniciar_sesion {
    border-radius: 50px;
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 4px;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    transition-duration: 0.5s;
}

main .iniciar_sesion:hover {
    border: black solid 1px;
    background-color: white;
    color: black;
}

main .profile {
    display: flex;
    background-color: rgb(238, 130, 130);
}

main .crear-cuenta {
    color: #434343;
    font-family: 'Rubik', sans-serif;
    position: absolute;
    width: 55%;
    left: 22.5%;
}

main .crear-cuenta a {
    text-decoration: none;
    font-weight: bold;
    color: #434343;
    transition-duration: 0.5s;
}

main .crear-cuenta a:hover {
    text-decoration: none;
    font-weight: normal;
    color: white;
    border: 1px solid #434343;
    background-color: #434343;
    border-radius: 50px;
}

header .whatsapp-logo img {
    position: fixed;
    height: 4vh;
    width: 4vw;
    top: 88vh;
    right: 5vw;
    z-index: 99999;
    animation: whatsapp-animation 3s infinite;
}

@keyframes whatsapp-animation {
    50% {
        transform: translateY(-20px);
    }
}


/*----------------------------------------------------------------------------------------------------------------------------------*/


/*Footer*/

footer {
    width: 100%;
    background: #202020;
    color: white;
    margin: 0px;
    margin-top: 25px;
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    position: absolute;
    bottom: 0px;
}

footer .container-body {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: min-content;
}

footer .container-footer-all {
    width: 100%;
    margin: auto;
}

footer .colum0 {
    max-width: 300px;
}

footer .colum0 h1 {
    font-size: 22px;
}

footer .colum1 {
    max-width: 300px;
}

footer .colum1 h1 {
    font-size: 22px;
}

footer .colum2 {
    max-width: 300px;
}

footer .colum2 h1 {
    font-size: 22px;
}

footer .colum3 {
    max-width: 300px;
}

footer .colum3 h1 {
    font-size: 22px;
}

footer .row0 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

footer .row0 a {
    color: #c7c7c7;
    text-decoration: none;
    padding: 5px;
}

footer .row {
    margin-top: 20px;
    display: flex;
}

footer .row a {
    color: #c7c7c7;
    text-decoration: none;
}

footer .row label {
    margin-top: -4px;
    margin-left: 10px;
    color: #c7c7c7;
}

footer .row2 {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

footer .row2 a {
    margin: 5px;
    color: #c7c7c7;
    text-decoration: none;
}

footer .row2 a i {
    font-size: 25px;
}

footer .container-footer {
    display: flex;
    justify-content: space-between;
    background: #101010;
    padding: 1px 4px;
    height: min-content;
}

footer .copyright {
    color: #c7c7c7;
}

footer .politicas a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


/*Iconos*/

header i {
    color: white;
}


/* Botones */

.boton_enviar {
    background: black;
    color: white;
    border-radius: 40px;
}

@media (max-width: 768px) {
    header {
        width: 100%;
        background: #202020;
        color: white;
        margin: 0px;
        padding: 0px;
        top: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        position: sticky;
        z-index: 100;
    }
    header .container-body {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 120px;
    }
    .container-header-all {
        width: 100%;
        margin: auto;
    }
    header .container-header-all .row0 {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background: #101010;
    }
    header .row0 a {
        color: #c7c7c7;
        text-decoration: none;
        padding: 5px;
    }
    header .row1 {
        display: flex;
        width: 100%;
        align-items: center;
    }
    header .row1 .colum0 {
        max-width: 10%;
        width: 10%;
        text-align: center;
    }
    header .row1 .colum1 {
        max-width: 20%;
        width: 20%;
        display: none;
    }
    header .row1 .colum1 input {
        border-radius: 8px;
    }
    header .row1 .colum2 {
        max-width: 80%;
        width: 80%;
        text-align: center;
    }
    header .row1 .colum3 {
        max-width: 10%;
        width: 10%;
        display: flex;
        justify-content: flex-end;
    }
    header .container-body .colum3 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    header .container-body .colum3 i {
        color: white;
        margin: 20px;
        text-align: right;
        font-size: 25px;
        padding-right: 20px;
    }
}