<header>
    <div class="container-header-all">
        <div class="row0">
            <a class="a_banner_header" href="Link a envios">  3 CUOTAS SIN INTERES - ENVIOS GRATIS A TODO EL PAIS </a>
        </div>
        <div class="container-body">
            <div class="row1">
                <div class="colum0">
                    <div class="header_bars_icon"><a href="*"><i class="fas fa-bars"></i></a>
                    <!--    <div id="menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Destacados</a></li>
                                <li><a href="#">Novedades</a></li>
                                <li><a href="#">Productos</a></li>
                                <li><a href="#">Usuarios</a></li>
                            </ul>
                        </div>
                    -->
                    </div>
                </div>
                <div class="colum1">
                    <input type="header_type_buscar" id="header_id_buscar" placeholder="Buscar..." />
                    <i class="fa fa-search"></i>
                </div>
                <div class="colum2">
                    <a href="/"><img class="logo_mitikal" src="/img/mitikal_logo.png" alt="Mitikal - Logo"></a>
                </div>
                <div class="colum3">
                    <a href="/login"><i class="fas fa-user"></i></a>
                    <a href="/market"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="whatsapp-logo">
        <a href="https://api.whatsapp.com/send?phone=1128637059" target="_blank"><img src="/img/whatsapp-logo.png" alt="whatsapp-logo"></a>
    </div>
</header>