<!DOCTYPE html>
<html lang="es">


<body>

    <%- include('../partials/header') %>
        <main>



            <section class="users">
                <% userList.forEach((User) => { %>
                    <article class="user user-1">
                        <img src="<%= User.image %>" alt="" width="100%">

                        <h2 class="user-detail">
                            <a href="/users/list/<%= User.id %>">
                                <%= User.name %>
                            </a>
                        </h2>
                    </article>
                    <% }) %>


            </section>



        </main>



</body>

</html>