<!DOCTYPE html>
<html lang="es">


<body>

    <%- include('../partials/header') %>
        <main class="profile">
            BIENVENIDOS A MITIKAL! <u>[NOMBRE]</u><br/> [IMAGEN]
            </section>


        </main>

        <div id="space-x-banner"></div>


</body>

</html>