<!DOCTYPE html>
<html lang="es">


<body>

    <%- include('../partials/header') %>
        <main class="profile">
            BIENVENIDAS !!! <u><%= locals.logged.name %> </u><br/>
            <img width="100%" src="<%= locals.logged.image %>">
            </section>


        </main>

        <div id="space-x-banner"></div>


</body>

</html>